{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css'>
    <link rel="stylesheet" href="{% static 'assets/css/login/style.css' %}"> <!-- Adjusted path for CSS file -->

</head>

<body>
    <!-- partial:index.partial.html -->
    <div class="container">
        <div id="login-box">

            <div class="logo">
                <img src="http://placehold.it/100x100?text=DD" class="img img-responsive img-circle center-block" />
                <h1 class="logo-caption"><span class="tweak">L</span>ogin</h1>
            </div><!-- /.logo -->

            <form method="post" action="{% url 'login' %}">
                {% csrf_token %}
                <div class="controls">
                    <p>Email</p>
                    <input type="text" name="firstname" placeholder="Email" class="form-control" />
                    <p>Password</p>
                    <input type="password" name="password" placeholder="Password" class="form-control"
                        style="margin-bottom: 10px;" />
                    <button type="submit" class="btn btn-default btn-block btn-custom">Login</button>
                </div>
            </form>
        </div>
    </div>
    <div id="particles-js"></div>
    <!-- partial -->
    <script src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css'></script>
    <script src='https://code.jquery.com/jquery-1.11.1.min.js'></script>
    <script src="{% static 'assets/js/login/script.js' %}"></script> <!-- Adjusted path for JavaScript file -->

</body>

</html>